<template slot="preview">
      <Tour
        @on-load-start="onLoadStart"
        @on-load="onLoad"
        :scenes='scenes'>
      </Tour>
</template>

<style scoped>
  #desc-container {
        max-width: 500px;
        max-height: 500px;
        min-width: 200px;
        min-height: 250px;
        background: #fff;
        color: #000;
        border-radius: 3px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      
  #desc-container > iframe {
          border: none;
          width:100%;
        }
</style>

<script>
import Tour from '../../src/Tour.vue'

export default {
  name: 'BankHeist',
  data () {
    return {
      loading: true,
      scenes: [{
        key: 'room1_point1',
        panorama: [
          {
            source: 'assets/bank/point1/bank_point1_state0.jpg',
            type: 'image'
          },
          {
            source: 'assets/bank/point1/bank_point1_state1.jpg',
            type: 'image'
          },
          {
            source: 'assets/bank/point1/bank_point1_state2.jpg',
            type: 'image'
          },
        ],
        x: 0,
        y: 0,
        z: 0,
        rx: 0,
        rz: 0,
        ry: 90,
        connections: [
          {
            key:'room1_point2',
            x: 0,
            z: 0
          }
        ],
        puzzles: [
          {
            key: '0',
            loc: [1000,100,-2000]
          },
          {
            key: '1',
            loc: [100,100,-2000]
          }
        ]
      },
      {
        key: 'room1_point2',
        panorama: [
          {
            source: 'assets/bank/point2/bank_point2_state0.jpg',
            type: 'image'
          },
          {
            source: 'assets/bank/point2/bank_point2_state1.jpg',
            type: 'image'
          },
          {
            source: 'assets/bank/point2/bank_point2_state2.jpg',
            type: 'image'
          },
        ],
        x: 0,
        y: 0,
        z: 0,
        rx: 0,
        rz: 0,
        ry: 0,
        connections: [
          {
            key: 'room1_point1',
            x: -1,
            z: 0
          },
          {
            key: 'room1_point3',
            x: 1,
            z: 0
          }
        ],
        puzzles: [
          {
            key: '2',
            loc: [1000,100,-2000]
          },
          {
            key: '3',
            loc: [100,1000,-2000]
          }
        ]
      },
      {
        key: 'room1_point3',
        panorama: [
          {
            source: 'assets/bank/point3/bank_point3_state0.jpg',
            type: 'image'
          },
          {
            source: 'assets/bank/point3/bank_point3_state1.jpg',
            type: 'image'
          },
          {
            source: 'assets/bank/point3/bank_point3_state2.jpg',
            type: 'image'
          },
        ],
        x: 0,
        y: 0,
        z: 0,
        rx: 0,
        rz: 0,
        ry: 0,
        connections: [
          {
            key:'room1_point2',
            x: 0,
            z: -1
          }
        ],
        puzzles: [
          {
            src: 'http://localhost:8080/#/hacking-panel',
            loc: [1000,100,-2000]
          },
          {
            src: 'http://localhost:8080/#/hacking-panel',
            loc: [100,100,-1000]
          }
        ]
        }
      ]
    }
  },
  methods: {
    onLoad () {
      console.log('onLoad')
      this.loading = false
    },
    onLoadStart () {
      console.log('onLoadStart')
      this.loading = true
    }
  },
  components: {
    Tour
  },
  mounted () {
    this.initialScene = this.scenes[0].key
  }
}
</script>
