<template>
<div></div>
</template>

<script>
const _log = console.log.bind(console)

export default {
  name: 'HackingPanel',
  data () {
    return {
      hackingPanel: false
    }
  },
  watch: {
    hackingPanel: function() {
      _log('PANO STATE CHANGES: '+this.hackingPanel)
      _log('PANO STATE CHANGES: '+this.$store.state.panoState)
      //this.$store.commit('panoNextState');
      this.$store.state.panoState++
      _log('PANO STATE CHANGES: '+this.$store.state.panoState)
      this.$store.commit('hackingPanelState', [false, true])
      _log(this.$store.getters.getPanoState)
    }

  },
}
</script>
