<template>
  <div style="width: 100%; height: 100%; margin: 0; border: 0; padding: 0;">
    <!-- Dynamically create infospot containers for each puzzle in scene and insert puzzle template as component-->
    <div v-for="(puzzle) in puzzles" :key="puzzle.key" v-bind:id="`puzzle-container-${puzzle.key}`" class="puzzle-container panolens-infospot" >
      <component v-bind:is="puzzleComponent+[puzzle.key]" />
    </div>

  </div>
</template>

<style scoped>
  .puzzle-container {
        max-width: 500px;
        max-height: 500px;
        min-width: 200px;
        min-height: 250px;
        background: #fff;
        color: #000;
        border-radius: 3px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      
</style>

<script>
import * as PanoLens from 'panolens'
import * as THREE from 'three'
import Puzzle0 from '../demos/components/puzzle0'
import Puzzle1 from '../demos/components/puzzle1'
import Puzzle2 from '../demos/components/puzzle2'
import Puzzle3 from '../demos/components/puzzle3'

const _log = console.log.bind(console)

export default {
  name: 'Tour',
  components: { Puzzle0, Puzzle1, Puzzle2, Puzzle3 },
  props: {
    scenes: {
      type: Array,
      default: () => { return [] }
    },
    sceneIndex: {
      type: Number,
      default: 0
    },
    width: {
      type: Number,
      default: undefined
    },
    height: {
      type: Number,
      default: undefined
    },
  },
  data () {
    return {
      selected: null,
      size: {
        width: this.width,
        height: this.height
      },
      scene_index: -1,
      viewer: null,
      panorama: null,
      infospots: [],
      arrowGroup: null,
      scene: null,
      puzzles: null,
      puzzleComponent: 'Puzzle'
    }
  },
  created () {
    window.addEventListener('resize', this.onResize, false)
  },

  mounted () {  
    
    if (this.width === undefined || this.height === undefined) {
      this.size = {
        width: this.$el.offsetWidth,
        height: this.$el.offsetHeight
      }
    }

    this.viewer = new PanoLens.Viewer({
      container: this.$el,
      cameraFov: 100
    })

    this.arrowGroup = new THREE.Object3D()

    if (this.scene_index === -1) {
      this.loadScene(this.sceneIndex)
    }
    
    this.$store.watch(() => this.$store.getters.getPanoState, panoState => {
          console.log('watched: ', panoState)
          this.updateScene()
    })


    //var axesHelper = new THREE.AxesHelper( 5 );
    //this.viewer.add( axesHelper );

  },


  methods: {

    /**
     * UTILITY FUNCTIONS
     */

    addPuzzles(scene, panorama){
        scene.puzzles.forEach((puzzle) => {
        _log(puzzle.key)
        _log(puzzle.loc)
        _log('puzzle-container-'+puzzle.key)
        _log(document.getElementById('puzzle-container-'+puzzle.key))
        this.infospots.push(addInfoSpotHoverElement(panorama, puzzle.loc, 'puzzle-container-'+puzzle.key))
      })
    },

    panoramaState () {
      return this.$store.state.panoState;
    },

    updatePanoState() {
      this.$store.commit('panoNextState')
    },

    onResize () {
      if (this.width === undefined || this.height === undefined) {
        this.$nextTick(() => {
          this.size = {
            width: this.$el.offsetWidth,
            height: this.$el.offsetHeight
          }
        })
      }
    },

    getSceneIndexByKey (key) {
      for (let i = 0; i < this.scenes.length; i++) {
        if (this.scenes[i].key === key) {
          return i
        }
      }
      return -1
    },

    //Iterate through all connection in this scene and get index for specific connection by key
    getSceneConnectionIndexByKey (scene, key) {
      _log('SCENE: '+scene)
      _log('KEY: '+key)
      for (let i = 0; i < scene.connections.length; i++) {

        if (scene.connections[i].key === key) {
          _log('INDEX:'+i)
          return i
        }
      }
      return -1
    },

    //Create navigation arrows for the scene
    generateNavigationArrows (scene) {
      scene.connections.forEach(connection => {
        _log('This scene has connection to = ', connection.key)
        //Find index in connections array for this particular arrow so we can select it
        let index = this.getSceneConnectionIndexByKey(scene , connection.key)
        _log('connections index = ', index)
        if (index === -1) return

        let arrow = addArrow(scene, scene.connections[index])
        this.arrowGroup.add(arrow)
      })
      // Add navigation arrows
      if (this.viewer) {
        this.viewer.add(this.arrowGroup)
      } else {
        _log('Error: Viewer is not defined to assign 3D objects')
      }
    },

    loadPanorama(type, source) {
    //Now let's create correct panorama type based on file and src
      switch (type) {
        case 'cube':
          let l = source.replace('%s', 'l')
          let f = source.replace('%s', 'f')
          let r = source.replace('%s', 'r')
          let b = source.replace('%s', 'b')
          let u = source.replace('%s', 'u')
          let d = source.replace('%s', 'd')
          if (this.panorama) {
            this.panorama.load([r, l, u, d, f, b])
          } else {
            this.panorama = new PanoLens.CubePanorama([r, l, u, d, f, b])
          }
          break
        case 'video':
          if (this.panorama) {
            this.panorama.load(source, { autoplay: true })
          } else {
            this.panorama = new PanoLens.VideoPanorama(source, { autoplay: true })
          }
          _log('this is video')
          break
        default:
          if (this.panorama) {
            this.panorama.load(source) 
          } else {
            this.panorama = new PanoLens.ImagePanorama(source)
          }
          break
      }
    },

    /**
     * SCENE LOADERS AND CHANGERS
     */

    updateScene () {
      let pano = this.scene.panorama[this.panoramaState()]
      this.loadPanorama(pano.type, pano.source)
    },

    changeScene (index) {
      this.$emit('on-load-start')
      _log('Change Scene by Index: '+index)
      _log('PANO STATE: '+ this.panoramaState())

      /*************************************************************
       * UPDATE INTERACTIVE ELEMENTS 
      **************************************************************/
      
      //Remove old 3D object group
      for (var i = this.arrowGroup.children.length - 1; i >= 0; i--) {
          this.arrowGroup.children[i].geometry.dispose();
          this.arrowGroup.children[i].material.dispose();
          this.arrowGroup.remove(this.arrowGroup.children[i]);
          
      }
      if (this.arrowGroup) {
        this.viewer.remove(this.arrowGroup)
      }
      this.infospots = []

      //Save which scene we loading
      this.scene_index = index
      //Define this particular scene by index value from array of all scenes
      let scene = this.scenes[index]
      this.scene = scene
      this.puzzles = scene.puzzles
      //Create panorama object based on data {Image Source & Type of panoramic file}
      let pano = scene.panorama[this.panoramaState()]
      //Define src for image we want to use for panorama
      let source = pano.source

      //Now let's create correct panorama type based on file and src
      this.panorama.reset()
      this.loadPanorama(pano.type, source)

      this.generateNavigationArrows(scene)

      setTimeout(function () { this.addPuzzles(scene, this.panorama) }.bind(this), 3000)

    },

    loadScene (index) {
      this.$emit('on-load-start')
      _log('Load Scene by Index: '+index)
      _log('PANO STATE: '+ this.panoramaState())

      //Save which scene we loading
      this.scene_index = index
      //Define this particular scene by index value from array of all scenes
      let scene = this.scenes[index]
      this.scene = scene
      this.puzzles = scene.puzzles
      //Create panorama object based on data {Image Source & Type of panoramic file}
      let pano = scene.panorama[this.panoramaState()]
      //Define src for image we want to use for panorama
      let source = pano.source

      //Now lets create correct panorama type based on file and src
      this.loadPanorama(pano.type, source)


      /*************************************************************
       * CONFIGURE VIEWER 
      **************************************************************/

      this.viewer.camera.near = 0.001
      this.viewer.camera.position.set(scene.x, scene.y, scene.z)
      this.viewer.camera.translateZ(1)
      this.viewer.add(this.panorama)
      this.viewer.panorama.rotation.set(0, Math.PI, 0)
      this.panorama.parent.rotation.set(0, Math.PI, 0)
      this.viewer.panorama.position.set(scene.x, scene.y, scene.z)
      this.viewer.control.target = this.viewer.panorama.position
      _log(this.viewer)
      _log('panorama = ', this.panorama)


      /*************************************************************
       * UPDATE INTERACTIVE ELEMENTS 
      **************************************************************/
      
      //Remove arrow group & remove old arrows if exist
      if (this.arrowGroup) {
        this.viewer.remove(this.arrowGroup)
      }
      if (this.arrows) {
        this.arrows.forEach((arrow) => {
          this.viewer.remove(this.arrow)
        })
      }

      // remove old infospots if exist
      if (this.infospots) {
        this.infospots.forEach((infospot) => {
          this.viewer.remove(infospot)
        })
      }

      // Add navigation arrows
      this.generateNavigationArrows(scene)

      /*************************************************************
       * LISTEN FOR MOUSE CLICKS 
      **************************************************************/      

      var that = this
      var raycaster = new THREE.Raycaster()
      var INTERSECTED = null

      this.viewer.container.addEventListener('click', (event) => {
        if (INTERSECTED) {
          _log('Target Scene: ' + INTERSECTED.targetScene.key)
          that.scene_index = this.getSceneIndexByKey(INTERSECTED.targetScene.key)
          //Let's switch panorama scene and load new controls
          this.changeScene(that.scene_index)
          INTERSECTED = null
        }
      })

      /*************************************************************
       * VIDUALIZE HOVER OVER OBJECT
      **************************************************************/   
   
      this.viewer.container.addEventListener('mousemove', (event) => {
        var mouse = new THREE.Vector2()
        var camera = that.viewer.camera

        mouse.x = ((event.clientX - that.$el.parentElement.offsetLeft) / that.viewer.container.offsetWidth) * 2 - 1
        mouse.y = -((event.clientY - that.$el.parentElement.offsetTop) / that.viewer.container.offsetHeight) * 2 + 1

        raycaster.setFromCamera(mouse, camera)

        var	intersects = raycaster.intersectObjects(that.viewer.scene.children, true)

        var intersectedObject = null

        if (intersects.length >= 0) {
          intersects.forEach((intersect, index) => {
            if (intersect.object.type === 'hotspot' || intersect.object.type === 'arrow') {
              intersectedObject = intersect.object
            }
          })
        }
        if (intersectedObject) {
          if (INTERSECTED) {
            if (INTERSECTED.material.color) {
              INTERSECTED.material.color.setHex(INTERSECTED.currentHex)
            }

            INTERSECTED.scale.set(1, 1, 1)
          }
          // store reference to closest object as current intersection object
          INTERSECTED = intersects[0].object
          // store color of closest object (for later restoration)
          if (INTERSECTED.material.color) {
            INTERSECTED.currentHex = INTERSECTED.material.color.getHex()
          }
          // set a new color for closest object
          if (INTERSECTED.material.color) {
            INTERSECTED.material.color.setHex(0xffff00)
          }
          INTERSECTED.scale.set(1.2, 1.2, 1.2)
        } else {
          // restore previous intersection object (if it exists) to its original color
          if (INTERSECTED) {
            if (INTERSECTED.material.color) {
              INTERSECTED.material.color.setHex(INTERSECTED.currentHex)
            }
            INTERSECTED.scale.set(1, 1, 1)
          }
          // remove previous intersection object reference
          //     by setting current intersection object to "nothing"
          INTERSECTED = null
        }        
      
      })

      setTimeout(function () { this.addPuzzles(scene, this.panorama) }.bind(this), 3000)

      return scene
      
    }
  }
}

function addInfoSpotHoverElement(panorama, position=[0,0,0], containerId='') {
      var infospot
      infospot = new PanoLens.Infospot( 300, PanoLens.DataImage.Info );
      infospot.position.set( position[0], position[1], position[2] );
      infospot.addHoverElement( document.getElementById( containerId ), 200 );
      panorama.add(infospot)
      return infospot
}

//Place arrow in scene
function addArrow (currentPosition, targetScene) {
  var arrowGeometry = makeArrowGeometry()
  var arrowMaterial = new THREE.MeshBasicMaterial({
    transparent: true,
    opacity: 0.7,
    color: 0xfc2f56,
    side: THREE.DoubleSide,
    polygonOffset: !0,
    polygonOffsetFactor: -4,
    polygonOffsetUnits: -4
  })

  var arrow = new THREE.Mesh(arrowGeometry, arrowMaterial)

  var x1 = targetScene.x
  var z1 = targetScene.z
  var x2 = currentPosition.x
  var z2 = currentPosition.z

  var ath = toDegree(Math.atan2((z1 - z2), (x1 - x2)))

  arrow.rotation.set(toRadian(90), 0, toRadian(ath))

  var arrowPos = sphereToWorld(ath, 0)

  arrow.position.set(arrowPos.x, arrowPos.y, arrowPos.z)
  arrow.type = 'arrow'
  arrow.targetScene = targetScene
  return arrow
}

//Draw navigation arrow obejct
function makeArrowGeometry () {
  var t = 1 / 10.0
  var i = 2 * t / 3
  var n = t * Math.cos(60 * THREE.Math.DEG2RAD)
  var r = t * Math.sin(60 * THREE.Math.DEG2RAD)
  var o = new THREE.Shape()

  o.moveTo(i, 0)
  o.lineTo(i - n, r)
  o.lineTo(-n, r)
  o.lineTo(0, 0)
  o.lineTo(-n, -r)
  o.lineTo(i - n, -r)
  o.lineTo(i, 0)

  return new THREE.ShapeGeometry(o)
}

 

function sphereToWorld (ath, atv) {
  var d = 1 / 2.0
  ath += 90
  var mY = -d * Math.sin(toRadian(atv))
  var r = -d * Math.cos(toRadian(atv))
  var mX = r * Math.sin(toRadian(-ath))
  var mZ = r * Math.cos(toRadian(-ath))

  return new THREE.Vector3(mX, mY, mZ)
}
function toRadian (a) {
  return a * Math.PI / 180.0
}

function toDegree (a) {
  return a * 180.0 / Math.PI
}
</script>
