<template>
    <div>
        <img src="../assets/bank/puzzle1/safecode.jpg" alt="SafeCode" usemap="#safemap">
        <map name="safemap">
            <area v-on:click="counter.push('1')" target="" alt="1" title="1" href="#" coords="113,70,67,118" shape="rect">
            <area v-on:click="counter.push('2')" target="" alt="2" title="2" href="#" coords="124,111,163,56" shape="rect">
            <area v-on:click="counter.push('3')" target="" alt="3" title="3" href="#" coords="175,112,219,59" shape="rect">
            <area v-on:click="counter.push('4')" target="" alt="4" title="4" href="#" coords="236,115,268,78" shape="rect">
            <area target="" alt="5" title="5" href="#" coords="57,133,104,179" shape="rect">
            <area target="" alt="6" title="6" href="#" coords="122,127,165,178" shape="rect">
            <area target="" alt="7" title="7" href="#" coords="180,125,220,178" shape="rect">
            <area target="" alt="8" title="8" href="#" coords="239,129,289,174" shape="rect">
            <area target="" alt="9" title="9" href="#" coords="124,191,161,244" shape="rect">
            <area target="" alt="0" title="0" href="#" coords="183,194,220,245" shape="rect">
        </map>
        <p>Puzzle 1: {{hackingPanel}}</p>
        <label>Change value:<input type="checkbox" v-model="hackingPanel" /></label>
  </div>
</template>

<script>

const _log = console.log.bind(console)

export default {
    name: 'Puzzle0',
    data () {
        return {
        hackingPanel: false,
        counter: [],
        }
    },
    watch: {
        hackingPanel: function() {
        _log('PANO STATE CHANGES: '+this.hackingPanel)
        _log('PANO STATE CHANGES: '+this.$store.state.panoState)
        //this.$store.commit('panoNextState');
        this.$store.state.panoState++
        _log('PANO STATE CHANGES: '+this.$store.state.panoState)
        this.$store.commit('hackingPanelState', [false, true])
        _log(this.$store.getters.getPanoState)
        },

        counter: function() {
            _log(this.counter)
            _log(this.counter.length)
            if(this.counter.length === 4){
                _log('Checking password: '+this.counter.join(""))
                if(this.counter.join("") == '1324') {
                    _log('update pano')
                    this.$store.state.panoState++
                    this.counter = []
                } else {
                    this.counter = []
                    _log('WRONG PASSWORD')
                    alert('WRONG PASSWORD')
                } 
            }

        }

    },
    
}
</script>