<template>
    <div>
        <p>Puzzle 4: {{hackingPanel}}</p>
        <label>Change value puzzle 4:<input type="checkbox" v-model="hackingPanel" /></label>
  </div>
</template>

<script>

const _log = console.log.bind(console)

export default {
    name: 'Puzzle3',
    data () {
        return {
        hackingPanel: false
        }
    },
    watch: {
        hackingPanel: function() {
        _log('PANO STATE CHANGES: '+this.hackingPanel)
        _log('PANO STATE CHANGES: '+this.$store.state.panoState)
        //this.$store.commit('panoNextState');
        this.$store.state.panoState++
        _log('PANO STATE CHANGES: '+this.$store.state.panoState)
        this.$store.commit('hackingPanelState', [false, true])
        _log(this.$store.getters.getPanoState)
        }

    },
    
}
</script>